/* Container style */

.container {
/*	border: 1px solid orange;*/
	position: relative;
	margin: 0 auto;
	height: 856px;
	width: 856px;
	margin-top: 50px;
}



/* Overall Gameboard */

.gameboard {
	border: 1px solid pink;
	height: 606px;
	width: 606px;
	position: relative;
	margin: 0 auto;
	font-size: 0;
}

/* Gameboard Tiles */

.gameboard div {
	display: inline-block;
	font-size: 20px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.tile1 {
	border: 1px solid blue;
	height: 200px;
	width: 200px;
}

.tile2 {
	border: 1px solid blue;
	height: 200px;
	width: 200px;
}

.tile3 {
	border: 1px solid blue;
	height: 200px;
	width: 200px;
}

.tile4 {
	border: 1px solid red;
	height: 200px;
	width: 200px;
}

.tile5 {
	border: 1px solid red;
	height: 200px;
	width: 200px;
}

.tile6 {
	border: 1px solid red;
	height: 200px;
	width: 200px;
}

.tile7 {
	border: 1px solid green;
	height: 200px;
	width: 200px;
}

.tile8 {
	border: 1px solid green;
	height: 200px;
	width: 200px;
}

.tile9 {
	border: 1px solid green;
	height: 200px;
	width: 200px;
}

/* Page Elements */

h2 {
	margin: 0 auto;
	text-align: center;
	padding-bottom:25px;
	padding-top: 25px;
}

/* Other So far */



