/* Container style */

.container {
/*	border: 1px solid orange;*/
	position: relative;
	background-color: black;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	background-image:url(../images/2015-08-21-barnimages-jose-001.jpg);
	background-size: cover;
}



/* Overall Gameboard */

.gameboard {
	border: 1px solid white;
	height: 606px;
	width: 606px;
	position: relative;
	margin: 0 auto;
	font-size: 0;
}

/* Gameboard Tiles */

.gameboard div {
	display: inline-block;
	font-size: 100px;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-weight: lighter;
}

.tile {
	text-align: center;
	line-height: 200px;
	border: 1px solid white;
	background-color: rgba(0,0,0,0.1);
	height: 200px;
	width: 200px;
}

.tile:hover {
	background-color: rgba(0,0,0,0.4);
}

/* Page Elements */
h1 {
	color: grey;
	margin: 0 auto;
	text-align: center;
	padding-bottom:25px;
	padding-top: 25px;
}

h2 {
	color: white;
	margin: 0 auto;
	text-align: center;
	padding-bottom:25px;
	padding-top: 25px;
}

/* Other So far */



